.header-pic {
  min-width: 100vw;
  min-height: 42.7vw; /*abzüglich footer height*/

  background-image: url("../images/img/background-profile.png");
  background-size: cover;

  position: relative;
  margin: 0 0 20vw 0;
}

.header-pic__circle {
  position: absolute;
  top: 22.7vw;
  left: 30vw;
  margin: 0 0 20vw 0;
  min-width: 40vw;
  min-height: 40vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to bottom right, #f62e8e 0%, #ac1af0 100%);
  border-radius: 50%;

  z-index: 10;
}
