.header-bar {
  display: flex;
  flex-direction: column;

  background-color: #181a1c;
  padding: 3px;
}

.header__bar_greet {
  display: flex;
  justify-content: stretch;
  align-items: center;
  margin: 2rem;
}

.header__stories {
  margin-top: 2rem;
}
