* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --background-color: #181a1c;
  --color: #ecebed;
  --color-pink: #f62e8e;
  --color-secondary-lightgrey: #727477;
  --color-secondary-darkgrey: #323436;
  --color-primary-socialblue: #2e8af6;
  --color-gradient: #f62e8e, #ac1af0;
  --color-gradient1: #f62e8e;
  --color-gradient2: #ac1af0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--background-color);

  color: var(--color);
}
