.search-box {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border: 0.5px solid var( --color-secondary-lightgrey);
    border-radius: 40px;
    margin: 15px 10px 15px 10px;
}

.search-btn {
    float: right;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0px;
    color: gray;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 320px;
}